.comment-list-component {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  margin: auto;
  max-width: 45rem;

  .list-title {
    padding: 1rem;
    margin: auto;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .comment-card {
      display: flex;
      flex-direction: column;
      box-shadow: none;
      border-bottom: solid 0.1rem;

      .comment-header {
        width: 100%;
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header-content{
          padding-left:1rem;
          padding-right:1rem;
        }
      }
      .comment-text {
        padding:1rem;
      }
    }
    .comment-card:first-of-type {
      border-radius: 0.5rem 0.5rem 0rem 0rem;

      .comment-header {
        border-radius: 0.5rem 0.5rem 0rem 0rem;
      }
    }
    .no-comment-msg {
      text-align: center;
      font-weight: bold;
      color: grey;
    }
  }
}
