<div class="comment-list-component">
  <div class="list">
    @if (comments()) {
      <div>
        @for (comment of comments(); track $index) {
          <div class="comment-card">
            <div class="comment-header">
              <p class="header-content">{{ comment.author.username }}</p>
              <p class="header-content">
                {{ comment.created_at | date: "medium" }}
              </p>
            </div>
            <p class="comment-text">{{ comment.body }}</p>
          </div>
        }
      </div>
    } @else {
      <p class="no-comment-msg">Be the first to leave a comment!</p>
    }
  </div>
</div>
