.main-container {
  display: flex;
  height: 100%;
  gap: 2rem;

  .chat-component {
    display: flex;
    padding: 2rem;
    overflow: hidden;
    gap: 2rem;
    max-width: 45rem;
    background-color: white;
    border-radius: 1rem;

    .chat-section {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 2rem;
      margin: auto;

      .message-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 30rem;
        overflow-y: scroll;
        scrollbar-width: none;
        flex: 1;
        margin: auto;
        mask-image: linear-gradient(
          to bottom,
          black calc(100% - 48px),
          transparent 100%
        );

        .message-right {
          border-radius: 1rem;
          background-color: aliceblue;
          width: 20rem;
          margin-left: auto;
        }

        .message-left {
          border-radius: 1rem;
          background-color: palegreen;
          width: 20rem;
          margin-right: auto;
        }
      }

      .message-creation {
        padding: 1rem;
        background-color: #637db1;
        margin: auto;
        border-radius: 0.5rem;

        .message-form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          max-width: 30rem;

          textarea {
            border-radius: 0.5rem;
            resize: none;
          }
        }

        button {
          width: fit-content;
        }
      }
    }

    .chat-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow-y: scroll;
      scrollbar-width: none;

      .new-chat-btn {
        padding: 0.5rem 1rem;
        width: fit-content;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 10rem;

        .chat-card {
          background-color: #637db1;
          cursor: pointer;
          color: white;

          .chat-card-content {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  .contact-request-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    min-width: 15rem;
    padding: 2rem;
  }
}
