@if (currentUser) {
  <div class="main-container">
    <div class="chat-component">
      <div class="conversation-list">
        <button
          mat-button
          mat-flat-button
          color="primary"
          (click)="startNewChat(currentUser.uid)"
        >
          New chat
        </button>
        <div class="list">
          @for (chat of chats$ | async; track $index) {
            <div class="chat-card" (click)="onChatClick(chat)">
              @for (participant of chat.participants; track $index) {
                @if (participant.id !== currentUser.uid) {
                  <span>{{ participant.username }}</span>
                }
              }
            </div>
          }
        </div>
      </div>
      <div class="chat-section">
        @if (selectedChat) {
          <div class="message-list" #messageList>
            @if (selectedChat.id) {
              @for (message of messages | async; track $index) {
                <app-message [message]="message"></app-message>
              }
            }
          </div>
          <div class="message-creation">
            <form class="message-form" [formGroup]="messageForm">
              <label for="message"></label>
              <textarea
                id="message"
                formControlName="message"
                placeholder="Type a message..."
                rows="5"
                cols="35"
                type="text"
              ></textarea>
              <button mat-button mat-stroked-button (click)="onSendMessage()">
                Send
              </button>
            </form>
          </div>
        } @else {
          <p>Select a contact</p>
        }
      </div>
    </div>
    <div class="contact-request-list"></div>
  </div>
}
