.navbar-component {
  display: flex;
  position: fixed;
  z-index: 2;
  flex-direction: row;
  background-color: #355591;
  color: aliceblue;
  width: 100vw;
  box-shadow: 0px 2px 5px lightgrey;

  .navbar-content {
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: space-between;
    max-width: 1024px;
    padding: 1rem;
    width: 100%;
    margin: auto;
    .navbar-brand > * {
      display: flex;
      flex-direction: row;
      height: auto;
      color: white;
      gap: 1rem;

      svg {
        height: 100%;
        width: 'auto';
        padding-right: 1rem;
        color: white;
      }
      span {
        margin: auto;
      }
    }
    .nav-links {
      .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        cursor: pointer;

        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}
a {
  padding: 0.5rem;
  text-decoration: none;
}
.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  margin-top: 0.5rem;
  padding: 7rem 2rem;
  transition: all 0.3s ease;
  background-color: #355591;
  right: 0;
  .mobile-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
  }
  &.collapsed {
    right: -100%;
  }
}

@media (max-width: 991px) {
  .nav-links {
    display: none;
  }
}

.navbar-toggler {
  display: none;
  background-color: transparent;
  color: white;
  border: 0;
  outline: 0;

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: '';
    background: no-repeat center center;
    background-size: 100% 100%;
    .line {
      display: block;
      width: 1.5rem;
      height: 0.25rem;
      background-color: white;
      border-radius: 0.25rem;
      content: '';
      transition: all 0.3s ease;

      &:not(:last-of-type) {
      margin-bottom: 0.25rem;

      }
    }
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    display: block;
  }
}
