.navbar-component {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: white;
    gap: 2rem;
    width: 97vw;

    .navbar-brand {
      display: flex;
      height: auto;
      gap: 1rem;
      padding: 1rem 0.5rem;
      cursor: pointer;
      color: black;

      svg {
        height: 100%;
        width: auto;
        padding-right: 1rem;
      }

      span {
        margin: auto;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 1rem;

      .nav-link {
        display: flex;
        padding: 1rem 0.5rem;
        cursor: pointer;
        align-items: flex-start;
        gap: 0.5rem;
        color: black;

        mat-icon {
          font-size: 1.5rem;
        }

        &:hover {
        }
      }
    }
  }

  a {
    vertical-align: middle;
  }

  .main-content {
    padding: 2rem;
    height: 100%;
  }

  @media (max-width: 600px) {
    .sidebar-link-text {
      display: none;
    }
    .side-bar {
      align-items: center;
    }
  }
}
