<nav class="navbar-component">
  <div class="top-bar">
    <div class="navbar-brand">
      <a routerLink="/">Chatter Angular</a>
    </div>
    <div class="top-bar-buttons">
      <button class="nav-link top-bar-button" type="button"><mat-icon>search</mat-icon></button>
      <a routerLink="/new-post" class="nav-link top-bar-button"><mat-icon>add</mat-icon>New Post</a>
      @if(authService.getCurrentUser()){
        <a routerLink="/dashboard" class="nav-link top-bar-button"><mat-icon>person</mat-icon></a>
      } @else{
        <a routerLink="/login" class="nav-link top-bar-button">Log in</a>
      }
    </div>
  </div>
  <div
    class="side-bar"
  >
    <div class="nav-links">
      <a routerLink="" class="nav-link"><mat-icon>home</mat-icon><span class="sidebar-link-text">Home</span></a>
    </div>
  </div>
</nav>
<ng-content></ng-content>

