.navbar-component {
  display: flex;
  position: fixed;
  z-index: 2;
  flex-direction: row;
  border-bottom-color: transparent;
  border-bottom-width:0.1rem;
  border-bottom-style: solid;

  .top-bar {
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: space-between;
    padding: 1rem;
    width: 98vw;
    margin: auto;
    height: 1.4rem;
    align-items: center;

    .navbar-brand > * {
      display: flex;
      flex-direction: row;
      height: auto;
      color: white;
      gap: 1rem;

      svg {
        height: 100%;
        width: auto;
        padding-right: 1rem;
        color: white;
      }
      span {
        margin: auto;
      }
    }

    .top-bar-buttons{
      display: flex;
      gap:.5rem;
      padding: 0 1rem;


    .top-bar-button{
      border: solid white 0.1rem;
      border-radius: .5rem;
      height: 2rem;
      color: white;
      background-color: transparent;
    }
    }
  }

  .side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: calc(100vh - 5.5rem);
    padding: 2rem .5rem 0 .5rem;
    right: 0;
    border-left: solid 0.1rem #5dadf4;
    border-top: solid 0.1rem #5dadf4;
    bottom: 0;

    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 2rem;
    }
  }

  .nav-link {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;

    mat-icon{
      font-size: 1.5rem;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  a  {
    vertical-align: middle;
  }

  @media (max-width: 600px) {
    .sidebar-link-text{
      display:none;
    }
  }
}
