.message-component {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  p {
    margin: 0;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  .image {
    height: 5rem;
    width: 10rem;
  }

  .card-content {
    margin: auto;
    text-align: center;
  }
}
