.message-component {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .image {
    height: 5rem;
    width: 10rem;
  }

  .card-content {
    margin: auto;
    text-align: center;
  }
}
