<div class="new-post-component">
  <h1 class="title">New Post</h1>
  <form
    class="new-post-form"
    [formGroup]="newPostForm"
    (ngSubmit)="createPost()"
  >
    <div class="form-block">
      <label for="title">Title:</label>
      <input
      class="title-input"
        id="title"
        type="text"
        formControlName="title"
      />
    </div>
    <div class="form-block">
      <label for="body">Body:</label>
      <textarea class="body-input" id="body" type="text" formControlName="body"></textarea>
    </div>
    <div class="form-block">
      <label for="image">Image link:</label>
      <input
      class="image-input"
        id="image"
        type="text"
        formControlName="image"
      />
    </div>

    <button class="publish-btn" type="submit">Publish</button>
  </form>

  <div *ngIf="success">Successfully submitted post.</div>
</div>
