.image-gallery-component {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  margin: auto;
  max-width: 45rem;

  .file-upload {
    display:flex;
    flex-direction: column;
    width: fit-content;
    padding: 2rem;
    margin:auto;
    .upload-button {
      width: fit-content;
    }
  }

  .gallery {
    .gallery-title {
      text-align: center;
    }

    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem;
      justify-content: center;
      .image-container {
        width: 10rem;
        border-radius: 5%;
        padding: 0.5rem;
        padding-bottom: 1rem;
        box-shadow: 2px 2px 2px lightgrey;
        .image {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
