<nav class="navbar-component">
  <div class="navbar-content">
    <div class="navbar-brand">
      <span>ChatBlog Angular</span>
    </div>
    <div class="nav-links">
      <a routerLink="/new-post" class="nav-link">New Post</a>
      <a routerLink="/post-list" class="nav-link">Post List</a>
      <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      <a routerLink="/signup" class="nav-link">Sign Up</a>
      <a routerLink="/login" class="nav-link">Log In</a>
    </div>
  </div>
</nav>
