.post-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
  background-color: white;
  border-radius: 0.5rem;

  .image {
    height: 5rem;
    width: 10rem;
  }

  .card-content {
    margin: auto;
    text-align: center;
  }

  .actions {
    display: flex;
    justify-content: space-between;

    & > * {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
