<div class="post-edit-component">
@if(updatePostForm){
  <form
    class="update-post-form"
    [formGroup]="updatePostForm"
    (ngSubmit)="updatePost()"
  >
    <div class="form-block">
      <label for="body">Body:</label>
      <textarea
        id="body"
        type="text"
        rows="5"
        formControlName="body"
        value="{{ post.body }}"
      ></textarea>
      @if(updatePostForm.get('body')?.invalid &&
      (updatePostForm.get('body')?.dirty ||
        updatePostForm.get('body')?.touched)){
        <div

        >
          @if(updatePostForm.controls['body'].invalid){
            <div>
              Please enter post body
            </div>
          }

        </div>

      }
    </div>
    <div class="buttons">
      <button class="update-btn" type="submit" [disabled]="!updatePostForm.valid">Update post</button>
      <button class="delete-btn" (click)="deletePost(post.id)">
        Delete post
      </button>
    </div>
  </form>
}
</div>
