<div class="login-component">
  <h1 class="form-title">Log In</h1>
  <form [formGroup]="logInForm" (ngSubmit)="logIn()">
    <div class="form-block">
      <label for="username">Username:</label>
      <input
        id="username"
        type="text"
        placeholder="username"
        formControlName="username"
        required
      />
    </div>
    <div class="form-block">
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        placeholder="password"
        formControlName="password"
        required
      />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
  <!-- <h1>{{loginStatus ? "Logged in" : "not logged in"}}</h1> -->
</div>
