@if (posts.hasValue() && currentUser.hasValue()) {
  @let user = currentUser.value()!;

  <div class="post-list-component">
    <button
      class="new-post-btn"
      color="primary"
      mat-button
      mat-stroked-button
      type="button"
      (click)="openNewPostModal()"
    >
      New Post
    </button>
    @for (post of sortedPosts(); track $index) {
      <div class="card-container">
        <app-post-card
          [currentUserId]="user.id"
          [post]="post"
          routerLink="['/posts', post.id]"
        ></app-post-card>
      </div>
    }
  </div>
}
