.post-list-component {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 1rem;
  justify-content: center;
  overflow: scroll;
  scrollbar-width: none;
  gap: 0.5rem;

  .new-post-btn {
    padding: 0.5rem 1rem;
    width: fit-content;
  }
}
