.post-list-component {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  padding: 1rem;
  justify-content: center;
  overflow: scroll;
  scrollbar-width: none;
  gap: 0.5rem;

  .controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;

    .new-post-btn {
      padding: 0.5rem 1rem;
      width: fit-content;
    }
  }
}
