.post-list-component {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  width: calc(100% - 12.5rem);
  max-width: 30rem;
  justify-content: center;
  overflow: scroll;
  scrollbar-width: none;
}

@media (max-width: 600px) {
  .post-list-component{
    width: calc(100% - 10rem);
  }
}
