<div class="new-post-component">
  <h1 class="title">New Post</h1>
  <form
    class="new-post-form"
    [formGroup]="newPostForm"
    (ngSubmit)="createPost()"
  >
    <div class="form-block">
      <label for="body">Body:</label>
      <textarea
        class="body-input"
        id="body"
        type="text"
        formControlName="body"
      ></textarea>
      @if (
        newPostForm.get("body")?.invalid &&
        (newPostForm.get("body")?.dirty || newPostForm.get("body")?.touched)
      ) {
        @if(newPostForm.controls['body'].invalid){
          <div>
            Please enter post body
          </div>
        }

      }
    </div>
    <button class="publish-btn" type="submit" [disabled]="!newPostForm.valid">
      Publish
    </button>
  </form>
  @if (success) {
    <div>Successfully submitted post.</div>
  }
</div>
