.post-detail-component {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
  max-width: 64rem;
  margin: auto;

  .post-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 40rem;

    .image {
      margin: auto;
      width: 100%;
    }

    .text-content {
      display:flex;
      flex-direction: column;
      gap:0.8rem;
      width: 100%;
      margin: auto;

      & > * {
        padding-left: 2rem;
        padding-right: 2rem;
      }

    }
  }

}
