@if (post.hasValue() && comments.hasValue()) {
  @let currentPost = post.value()!;

  <div class="post-detail-component">
    <div class="post-container">
      <div class="text-content">
        <p>{{ currentPost.createdAt | date: "medium" }}</p>
        <p>{{ currentPost.body }}</p>
        <p>{{ currentPost.author.username ?? "no username" }}</p>
      </div>
      <div class="actions">
        <div>
          <mat-icon>bookmark</mat-icon>
          <span>save</span>
        </div>
        <div (click)="onReplyInputDisplayChange()">
          <mat-icon>chat_bubble_outline</mat-icon>
          <span>comment</span>
        </div>
        <div>
          <mat-icon>share</mat-icon>
          <span>share</span>
        </div>
      </div>
    </div>
    @if (replyInput) {
      <app-new-comment
        [replyInputDisplay]="replyInput"
        (onNewComment)="handleNewComment()"
        (replyInputDisplayChange)="onReplyInputDisplayChange()"
      ></app-new-comment>
    }
    <div class="scroll-container">
      <app-comment-list
        [comments]="sortedComments()"
        [postID]="currentPost.id"
      ></app-comment-list>
    </div>
  </div>
}
