.post-detail-component {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;

  .image {
      margin: auto;
      height: 10rem;
      width: 20rem;
    }

  .text-content{
      margin: auto;
      width: 40rem;

      .post-title {

      }

      .post-body {

      }

  }

}
