.post-detail-component {
  display: flex;
  flex-direction: column;
  width: 45rem;
  min-height: 100%;
  background-color: white;
  border-radius: 1rem;

  .post-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
    width: 30rem;

    .image {
      margin: auto;
      width: 100%;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 100%;
      margin: auto;

      & > * {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;

      & > * {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .scroll-container {
    overflow-y: scroll;
    scrollbar-width: none;
  }
}
@media (max-width: 600px) {
  .dashboard-component {
    width: calc(100% - 10rem);
  }
}
