<div class="user-posts-component">
  <h2 class="list-title">Post List</h2>
  <div class="list">
    <div class="card-container" *ngFor="let post of posts">
      <div class="post-card">
        <div class="card-content">
          <p>{{ post.title }}</p>
          <div class="buttons">
            <button class="edit-btn" (click)="editPost(post.id)">Edit</button>
            <button class="delete-btn" (click)="deletePost(post.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
