html {
  height: 100%;
  min-height: 100%;
  margin: 0;

  body {
    margin: 0;
    font-family: "Calibri", sans-serif;
    padding: 0;
   // text-align: center;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;

    a {
      text-decoration: none;
    }
  }
}
