<div class="sign-up-component">
  <h1 class="form-title">Sign Up</h1>
  <div class="form-block">
    <label>Username:</label>
    <input type="text" required />
  </div>
  <div class="form-block">
    <label>Email:</label>
    <input type="text" required />
  </div>
  <div class="form-block">
    <label>Firstname:</label>
    <input type="text" required />
  </div>
  <div class="form-block">
    <label>Lastname:</label>
    <input type="text" required />
  </div>
  <div class="form-block">
    <label>Password:</label>
    <input type="text" required />
  </div>
  <div class="form-block">
    <label>Confirm Password:</label>
    <input type="text" required />
  </div>
  <button>Sign Up</button>
</div>
