<div class="user-posts-component">
  <h2 class="list-title">Post List</h2>
  <div class="list">
    @if(userPosts && userPosts.length > 0){
      @for(post of userPosts; track $index){
        <div class="card-container">
          <div class="post-card">
            <div class="card-content">
              {{post.body}}
              <div class="buttons">
                <button class="edit-btn" (click)="editPost(post.id)">Edit</button>
                <button class="delete-btn" (click)="deletePost(post.id)">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      }
    } @else {
      <p class="no-post-msg">This user has no posts!</p>
    }
  </div>
</div>
