
<div class="signup-component">
  <h2>Not a user? Sign Up</h2>

    <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="form-block">
            <label for="signup-email">email :</label>
            <input
              id="signup-email"
              type="email"
              placeholder="email"
              formControlName="email"
            />
          </div>
          <div class="form-block">
            <label for="signup-password">password :</label>
            <input
              id="signup-password"
              type="password"
              placeholder="password"
              formControlName="password"
            />
          </div>
      @if(firebaseErrorMessage != ''){
        <div class="error">
          <span>{{firebaseErrorMessage}}</span>
        </div>
      }

          <button>Sign up</button>
    </form>

</div>

