<div class="comment-list-component">
  <h2 class="list-title">Comments</h2>
  <div class="list">
    <div *ngIf="comments.length > 0; else noComments">
      <div class="comment-card" *ngFor="let comment of comments">
        <div class="comment-header">
          <div class="header-content">{{ comment.author }}</div>
        </div>
        <p>{{ comment.body }}</p>
      </div>
    </div>
    <ng-template #noComments>
      <p class="no-comment-msg">Be the first to leave a comment!</p>
    </ng-template>
  </div>
</div>
